p
  label(for='title') Title
  input(
    type='text'
    name='title'
    id='title'
    value= book.title
    aria-label='title'
    )
p
  label(for='author') Author
  input(
    type='text'
    name='author'
    id='author'
    value= book.author
    placeholder= 'ex: William Shakespeare'
    aria-label='author'
    )
p
  label(for='genre') Genre
  input(
    type='text'
    name='genre'
    id='genre'
    value= book.genre
    aria-label='genre'
    )
p
  label(for='year') Year
  input(
    type='text'
    name='year'
    id='year'
    value= book.year
    aria-label='year'
    )
