<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Library Manager Tool
    link(rel='stylesheet', href='/static/css/styles.css')
  body
    header
      h1 Library Manager Tool
      form(action='/books/search?q')
        label(
          for='site-search'
        ) Search Books
        input(
          type='search'
          name='q'
          id='site-search'
          placeholder='Search By Author, Title, Genre, or Year'
          aria-labelledby='Search By Author, Title, or Genre'
        )
        button(aria-label='search' type='submit') Search
        a(aria-label='reset form' class='reset' href='/books') Reset
    block content
