<!DOCTYPE html>
html(lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Library Manager Tool
    link(rel='stylesheet', href='/static/css/styles.css')
  body
    header
      h1 Library Manager Tool
      form(action='/books/search')
        label(
          for='site-search'
        ) Search Books
        input(
          type='search'
          name='q'
          id='site-search'
          placeholder='Search By Author, Title, or Genre'
          aria-label='Search By Author, Title, or Genre'
        )
        button(type='submit') Search
    block content

    script(src='/static/js/scripts.js')
